@import "tailwindcss";

/* ========= CSS Reset & Fonts ========== */
* {
  font-family: 'Birdies Font V13', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========= Color Variables ========== */
:root {
  --color-base: #ecfdf5;
  --color-primary: #a7d7c5;
  --color-accent: #6b9080;
  --text-dark: #0c1818;
  --text-light: #f5efd7;
}

/* ========= Background & Text Base ========== */
body {
  background-color: var(--color-base);
  color: var(--text-dark);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* ========= Dark Mode ========== */
.dark-mode {
  background-color: var(--text-dark);
  color: var(--text-light);
}

.dark-mode .card {
  background-color: #1e2d2d;
}

.dark-mode .button {
  background-color: var(--color-accent);
  color: var(--text-light);
}

.dark-mode .button:hover {
  background-color: var(--color-primary);
  color: var(--text-dark);
}